:root{
  --bg: rgb(5, 0, 18);
  --bgSoft: rgb(25, 8, 70);
  --text: white;
  --textSoft: rgb(222, 251, 255);
  --btn: rgb(54, 54, 255);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/home_land.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg);
  color: var(--text);
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  /* background-color: aqua; */
  /* margin: auto; */
  padding-left: 2rem;
  padding-right: 2rem;
  /* width: 1536px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageContainer{
  position: relative;
  width: 100%;
  height: 50rem;
}

/* 
@media (max-width: 1536px) {
  .container{
    width: 1366px;
  }
} 

@media (max-width:1366px){
  .container{
    width: 1280px;
  }
}

@media (max-width:1280px){
  .container{
    width: 1024px;
  }
}
@media (max-width:1024px){
  .container{
    width: 768px;
  }
}

@media (max-width:768px){
  .container{
    width: 640px;
  }
  body{
    background-position: center center;
  }
}

@media (max-width:640px){
  .container{
    width: 475px;
  }
} 
*/

