.container {
  margin-top: 12rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.textContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title{
  font-size: 4.5rem;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.8);
}

.desp{
  font-size: 1.5rem;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.8);
}

.boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4); */
}

.box > h1{
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.8);
}

.box > p{
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.8);
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.buttonRead{
  margin-right: 5rem;
  color: white;
  font-weight: bold;
  /* background-color: rgb(92, 92, 255); */
  background: linear-gradient( #1a2038, #311e44);
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
  text-shadow: 0px 6px 8px rgba(23, 23, 23, 0.4);
  transition: box-shadow 0.3s ease;
}

.buttonRead:hover {
  transform: translateY(-2px);
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.8);
  box-shadow:  0px 4px 6px rgba(142, 138, 184, 0.3);
}

.buttonLearn{
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.3s ease;
}

.buttonLearn:hover {
  transform: translateY(-2px);
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 1);
  box-shadow:  0px 4px 6px rgba(142, 138, 184, 0.3);
}

.brands{
  width: 35rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  position: relative;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.8);
}

.brandImg {
  max-width: 100%;
  height: auto; 
  width: 100%; 
  object-fit: contain;
}